src/main/mule/mysqlDatabase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="5a69021a-2c2a-4c82-a397-b0f761f07e48" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="password" database="muletraining" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b385ccd4-0ca3-4633-99ff-47f61ec61b27" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<sub-flow name="checkIfEmailExist_subFlow" doc:id="438f4d9e-3731-42bd-9e86-4cd5d552321b" >
		<choice doc:name="Choice" doc:id="1a426673-5cb2-4b2c-a8c1-e541753e7aff">
			<when expression="#[(sizeOf(payload.employees) == 0)]">
				<db:select doc:name="Select" doc:id="9212a5ef-03b2-478a-a193-5315bac5d1c0" config-ref="Database_Config">
					<db:sql>select IFNULL(MAX(id), 0) as max_id from employee_table</db:sql>
				</db:select>
				<db:insert doc:name="Insert" doc:id="5273f460-0f5e-4189-bbd2-8aa68987cf5d" config-ref="Database_Config">
					<db:sql>insert into employee_table(id, firstname, lastname, designation, email, reg_date) values(:EmployeeID, :first, :last, :Designation, :Email, :Reg_date)</db:sql>
					<db:input-parameters><![CDATA[#[{
	EmployeeID: (payload.max_id[0] + 1),
	first: (vars.originalPayload.Name splitBy(' '))[0],
	last: (vars.originalPayload.Name splitBy(' '))[1],
	Email: vars.originalPayload.Email_ID,
	Reg_date: vars.originalPayload.Registration_Date,
	Designation: vars.originalPayload.Designation

}]]]></db:input-parameters>
				</db:insert>
				<ee:transform doc:name="Transform Message" doc:id="7a670b80-5640-4baf-9e6a-0d28a68159ee">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Employee Added Successfully",
	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<set-payload value='{"Employee is already present in database"}' doc:name="Set Payload" doc:id="72ffe9cc-bbeb-47f7-8922-f92fe19ffc25" mimeType="application/json" />
			</otherwise>
		</choice>
	</sub-flow>
	<flow name="GetAllEmployees" doc:id="38f4ef9a-77ac-40c7-97da-dc6b70751abf">
		<http:listener doc:name="Listener" doc:id="154d2f6d-2ac3-412c-be00-d34552dab08d" config-ref="customerdetails-httpListenerConfig" path="/api/employees" allowedMethods="GET" >
			<http:error-response statusCode="500">
			</http:error-response>
		</http:listener>
		<db:select doc:name="SelectAllEmployees" doc:id="bc6a86f6-278b-4cd0-8805-aa2eab0f4500" config-ref="Database_Config">
			<db:sql>select * from employee_table;</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="f501c50c-b7ec-4805-a8df-9fb8fe813f43">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	employees: payload map ( payload01 , indexOfPayload01 ) -> {
		ID: payload01.id,
		Name: (payload01.firstname ++ " " ++ payload01.lastname),
		Designation: payload01.designation default "",
		Email_ID: payload01.email default "",
		Registration_Date: payload01.reg_date as String default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="GetEmployeeByID" doc:id="34983fc4-5711-45e1-9156-cdcf9f3d9c8f" >
		<http:listener doc:name="Listener" doc:id="937d1a56-2ea9-4310-8ce2-9c4619b0d4b0" config-ref="customerdetails-httpListenerConfig" path="/api/employeeByID" allowedMethods="GET">
			<http:response statusCode="#[vars.statusCode default 200]" />
		</http:listener>
		<db:select doc:name="Select" doc:id="afda6241-235b-4689-a4cb-b78681f6318a" config-ref="Database_Config">
			<db:sql >select * from employee_table where id = :ID;</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'ID': attributes.queryParams.id
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="2ccf58e5-2e0c-4480-b9e0-55caab6191b7" >
			<when expression="#[(sizeOf(payload) &gt; 0)]">
				<ee:transform doc:name="Transform Message" doc:id="4e7dce1a-32b8-4b93-b0de-97a541a2a616">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	employees: payload map ( payload01 , indexOfPayload01 ) -> {
		ID: payload01.id,
		Name: (payload01.firstname ++ " " ++ payload01.lastname),
		Designation: payload01.designation default "",
		Email_ID: payload01.email default "",
		Registration_Date: payload01.reg_date as String default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<set-variable value="404" doc:name="Setting 404 " doc:id="01561f8d-9609-456f-a159-7b125579d86f" variableName="statusCode" />
				<ee:transform doc:name="Transform Message" doc:id="c4a871dc-ebda-4ab6-8b5f-9b734523c114" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "Employee does not exist"
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="GetEmployeeByEmail" doc:id="e4c080b7-ba99-46cb-bd78-46bb615314c0" >
		<http:listener doc:name="Listener" doc:id="a9913efb-9a23-4183-bb52-6f34a10ccefd" config-ref="customerdetails-httpListenerConfig" path="/api/employeeByEmail" allowedMethods="GET" />
		<set-variable value='#[attributes.queryParams.email default ""]' doc:name="Set Variable" doc:id="3349b72a-58f1-4723-9723-727501dcb65f" variableName="emailId"/>
		<db:select doc:name="Select" doc:id="ca320504-6809-4bf6-bff9-f8f968215e34" config-ref="Database_Config" >
			<db:sql >select * from employee_table where email = :email</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'email': vars.emailId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="db27c99b-e135-4f27-a87c-2a30cb51135d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	employees: payload map ( payload01 , indexOfPayload01 ) -> {
		ID: payload01.id,
		Name: (payload01.firstname ++ " " ++ payload01.lastname),
		Designation: payload01.designation default "",
		Email_ID: payload01.email default "",
		Registration_Date: payload01.reg_date as String default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="CreateEmployee" doc:id="14ed9cab-b184-42cb-81f8-869ba46a021a">
		<http:listener doc:name="Listener" doc:id="e1f70626-6628-4617-a7c3-b100257652b1" config-ref="customerdetails-httpListenerConfig" path="/api/employee" allowedMethods="POST" />
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="fb6b80d7-266f-4728-bd1b-a0f4a38145f6" variableName="originalPayload" />
		<http:request method="GET" doc:name="Request" doc:id="34d1e2ac-96e0-43b1-b084-6ed27775e757" path="/api/employeeByEmail" config-ref="HTTP_Request_configuration">
			<http:query-params><![CDATA[#[output application/java
---
{
	'email' : payload.Email_ID
}]]]></http:query-params>
		</http:request>
		<flow-ref doc:name="Flow Reference" doc:id="ba7ede57-82ea-4ae2-b7d8-2b70365303ec" name="checkIfEmailExist_subFlow" />
	</flow>
	<flow name="UpdateEmployeeByID" doc:id="b485f4e2-c32a-4c4f-97e5-0ddc982bbc27" >
		<http:listener doc:name="Listener" doc:id="ce0fd3c6-24c1-4239-91c6-419518d16eff" config-ref="customerdetails-httpListenerConfig" path="/api/employee/{ID}" allowedMethods="POST" responseStreamingMode="NEVER">
			<http:response statusCode="#[vars.statusCode default 200]" />
			<http:error-response >
				<http:body ><![CDATA[#[output application/json --- error]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value="#[attributes.uriParams.ID]" doc:name="Set Variable" doc:id="72fcbfef-fe40-42c4-8e07-53262f2cb9cb" variableName="EmployeeID"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="1f6eae17-e67d-4230-8633-054591e90835" variableName="originalPayload"/>
		<try doc:name="Try" doc:id="d7f1d032-b07b-482e-b807-9172a8b6838d" >
			<http:request method="GET" doc:name="Call GetEmployeeByID Flow" doc:id="d0da60df-3d98-4040-9a7b-b9897e33d0af" config-ref="HTTP_Request_configuration" path="/api/employeeByID">
			<http:query-params><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.ID
}]]]></http:query-params>
		</http:request>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="42a73ccb-111b-44d3-a5f6-e1395d99cf95" type="ANY">
					<raise-error doc:name="Raise error" doc:id="99f0fdda-3c00-4f42-b3d1-96be2a0da235" type="REQUEST:REQUEST_FAILED"/>
				</on-error-propagate>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="14f22980-da04-41e5-bbbb-fa59f93106e0" message='#["\n Employee ID found"]' />
		<db:update doc:name="Update" doc:id="5efc6f1b-5890-47fa-821b-1d6beb3bf262" config-ref="Database_Config">
					<db:sql>update employee_table set designation=:Designation,email=:Email , firstname=:first, lastname=:last, reg_date=:Reg_date where id=:EmployeeID;</db:sql>
					<db:input-parameters><![CDATA[#[{
	EmployeeID: vars.EmployeeID,
	first: (vars.originalPayload.Name splitBy(' '))[0],
	last: (vars.originalPayload.Name splitBy(' '))[1],
	Email: vars.originalPayload.Email_ID,
	Reg_date: vars.originalPayload.Registration_Date,
	Designation: vars.originalPayload.Designation

}]]]></db:input-parameters>
				</db:update>
		<ee:transform doc:name="Transform Message" doc:id="693b1c3b-e6c8-462a-aec7-db3b65b11f14">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Message: ("Successfully Updated the employee with Employee ID '" ++ vars.EmployeeID as String ++ "'")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="623fa6f2-5f67-4e50-8a36-632a67244162" type="REQUEST:REQUEST_FAILED">
				<ee:transform doc:name="Transform Message" doc:id="a97b1d98-b02d-41bc-8524-24e936f598f9">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Employee with ID " ++ vars.EmployeeID as String ++ " does not exist"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="Set status 404" doc:id="619a5f74-8721-4e46-8b9c-24f3bd72c27b" variableName="statusCode" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="DeleteEmployeeByID" doc:id="f978020e-11a4-4c0b-bc54-49d9ba84423c" >
		<http:listener doc:name="Listener" doc:id="b1587277-5310-42fa-8089-2840be2b1038" config-ref="customerdetails-httpListenerConfig" path="/api/deleteEmployee/{ID}" allowedMethods="DELETE" >
			<http:error-response statusCode="#[vars.statusCode1]" >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value='#[attributes.uriParams.ID]' doc:name="Set Variable" doc:id="ac86fa9e-f892-4fc1-87c4-9f1a2f23c8a5" variableName="employeeID" />
		<db:delete doc:name="Delete" doc:id="c85af786-7054-47ef-9519-f585a3d7a0ac" config-ref="Database_Config">
			<db:sql >DELETE from employee_table where id = :EmployeeID</db:sql>
			<db:input-parameters ><![CDATA[#[{
	EmployeeID: vars.employeeID
}]]]></db:input-parameters>
		</db:delete>
		<choice doc:name="Choice" doc:id="177c7f1f-b5d2-444f-befa-22f6e0df0cc2" >
			<when expression="#[payload != 0]">
				<ee:transform doc:name="Transform Message" doc:id="9af088b7-9dc5-4edf-bb96-14cd49b87188">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "Successfully deleted employee id " ++ vars.employeeID as String , 
	NumberReturned: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="6cb1ae7e-172b-4761-b2e6-e1d5fe88ed63" type="EMPLOYEE:NOT_FOUND"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="15abe652-24a9-4d9b-930c-6b3dfe5a1732" type="EMPLOYEE:NOT_FOUND">
				<set-variable value="404" doc:name="Set Variable" doc:id="dde432c3-afec-4417-a471-e1891a16c709" variableName="statusCode1" />
				<ee:transform doc:name="Transform Message" doc:id="35f5fd34-9f2e-4660-9c15-bf8cc668e322">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	statusCode: vars.statusCode1,
	message: "Employee with ID " ++ vars.employeeID as String ++ " does not exist"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
